`201` should probably be a `200`

Looks like this property is appearing now! But, it seems strange that it's giving a 201 Created response for `GET /customer/{uid}/subscriptions` - maybe that's a separate issue? (Edit: Yeah, looks like [this `201` should probably be a `200`](https://github.com/mozilla/subhub/blob/master/subhub/api/payments.py#L185)?)
```
➜  subhub git:(master) ✗ curl -sD - -X GET --header 'Accept: application/json' --header 'Authorization: abcde' 'http://127.0.0.1:8012/v1/customer/9f960ea24a194d67ad62ee57faeb1308/subscriptions'
HTTP/1.0 201 CREATED
Content-Type: application/json
Content-Length: 337
Access-Control-Allow-Origin: *
Server: Werkzeug/0.15.2 Python/3.7.1
Date: Tue, 11 Jun 2019 22:09:21 GMT

{
  "subscriptions": [
    {
      "cancel_at_period_end": true,
      "current_period_end": 1562882826,
      "current_period_start": 1560290826,
      "ended_at": null,
      "plan_id": "plan_F4bof27uz71Vk7",
      "plan_name": "123Done Pro Monthly",
      "status": "active",
      "subscription_id": "sub_FEleCnZNUg1ZDb"
    }
  ]
}
```

_Originally posted by @lmorchard in https://github.com/mozilla/subhub/issues/67#issuecomment-501042606_

PR cut at **https://github.com/mozilla/subhub/pull/142** to resolve this.

PR merged, closing this ticket.

I think that PR changed a different 200 status. This is the one I'm seeing: https://github.com/mozilla/subhub/blob/master/subhub/sub/payments.py#L196

@lmorchard In the spirit of RFC 2616, section 10, I believe that they should both be changed.  As part of our lineage here, I do believe you requested the one associated with this Github issue to be changed [here](https://github.com/mozilla/subhub/issues/67#issuecomment-501042606).  I definitely agree that needed changed and also agree that the one you are calling out here should be changed in the same calling context.  Do you also agree that both should be changed?  If so, I will re-open this ticket, make the appropriate changes, and cut a pull request with you as a reviewer.

> Do you also agree that both should be changed?

I don't think I understand which "both" you're talking about. 

My earlier comment that spun off into this issue was about the 201 status in the response from the `GET /v1/customer/{id}/subscriptions` resource.  It's specified as a 200 response [in the YAML spec](https://github.com/mozilla/subhub/blob/master/subhub/swagger.yaml#L104) but responds with [201 in implementation](https://github.com/mozilla/subhub/blob/master/subhub/sub/payments.py#L196) - and it makes most sense for it to be a 200 response.

Oh, if the other in "both" is the change already made in PR #142 - it might have been handy *not* to have changed it and leave already-active and reactivated cases with distinct responses. But, it's also fine & idempotent for them to both respond with 200. In practice, I think we'll only really be hitting that endpoint from FxA when the subscription is cancelled, so we will realistically only see the reactivated status unless there's a network error.

Cool, that is what I intended by `both`.  I will pick up this issue and resolve it shorty.  Thanks for reporting it.